* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  background: linear-gradient(to right, #667eea, #764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: #333;
}

.auth-container {
  padding: 20px 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.auth-card h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

.input-group {
  margin-bottom: 20px;
}

.input-group i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  z-index: 10;
}

.input-group input {
  padding: 10px 20px 10px 45px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
  transition: border-color 0.3s ease;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input-group input:focus {
  border-color: #667eea;
  outline: none;
}

.btn-primary {
  background: linear-gradient(to right, #667eea, #764ba2);
  padding: 12px 20px;
  font-size: 1.1em;
  transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.btn-primary:hover {
  opacity: 0.89;
}

p {
  margin-top: 20px;
  font-size: 0.9em;
}

p .forget-btn,
p a {
  color: #667eea;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

p .forget-btn:hover,
p a {
  text-decoration: underline;
  /* color: ; */
}
p a {
  color: #667eea;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

p a:hover {
  text-decoration: underline;
  /* color: ; */
}

/* Select Role Of User */
.choices {
  width: 100%;
}
.choices__inner {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100%;
}
.choices__item {
  text-align: left;
  padding-left: 30px;
}
.choices__list--dropdown {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  -ms-border-radius: 8px !important;
  -o-border-radius: 8px !important;
}

#forgetPassModal .choices__item {
  padding-left: 0;
}
#forgetPassModal .choices__list--dropdown .choices__item {
  padding-left: 12px;
}

.verf-code-list {
  flex-wrap: wrap;
  gap: 20px;
}

.verf-code-item input {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid #888;
  text-align: center;

  &:focus {
    outline-color: #667eea;
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: -5dvh;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  width: 400px;
  color: antiquewhite;
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
}

.logo i,
.logo span > span {
  color: #ffd700;
}
.logo i {
  margin-top: -4px;
  font-size: 1rem;
}
